name: Vercel Preview Deployment


on:
  push:
    branches-ignore:
      - main

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Install dependencies
        run: npm ci
      - name: Install Payload CLI
        run: npm install --global payload@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Load Vercel Environment Variables
        run: |
          set -a
          source .vercel/.env.preview.local
          set +a
      - name: Check environment
        run: echo "Secret = $PAYLOAD_SECRET"
      - name: Run Payload Migrations
        run: npm run payload migrate
      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
      
