name: Vercel Production Deployment


on:
  push:
    branches:
      - main
      - master
      

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Install dependencies
        run: npm ci
      - name: Install Payload CLI
        run: npm install --global payload@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Pull Vercel Environment Variables
        run: vercel env pull .env --environment=production --token=${{ secrets.VERCEL_TOKEN }}
      - name: Load Env File
        run: |
          set -a
          source .env
          set +a
      - name: Run Payload Migrations
        run: npm run payload migrate
      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release      
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
      
