name: Vercel Preview Deployment

on:
  push:
    branches-ignore:
      - main
      - master
      
jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.14.0'
          cache: 'npm'
      - name: Install Vercel CLI
        run: npm install --global vercel@latest
      - name: Install dependencies
        run: npm ci
      - name: Install Payload CLI
        run: npm install --global payload@latest
      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Pull Vercel Environment Variables
        run: vercel env pull .env --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      - name: Load Vercel Env File
        run: |
          set -a
          source .env
          set +a
      - name: Run Payload Migrations
        run: npm run payload migrate
      - name: Set background color
        run: NEXT_PUBLIC_STARTUP_BACKGROUND="#fffae6"
      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}
      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
