name: Vercel Preview Deployment

on:
  push:
    branches-ignore:
      - main
      - master

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - run: npm ci

      - run: npm install --global vercel@latest payload@latest

      - run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}
      
      - name: Pull Vercel env vars
        run: vercel env pull .env --environment=preview --token=${{ secrets.VERCEL_TOKEN }}


      - name: Load env vars
        run: cat .env >> $GITHUB_ENV

      - run: payload migrate

      - run: echo "NEXT_PUBLIC_STARTUP_BACKGROUND=#ff00" >> $GITHUB_ENV

      - run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
